<!--Name:Richard Ho
Date: 7/10/20
-->
<! doctype html>
 <html lang="en">
    <head>
       <meta charset="utf-8">
        <title>About</title>
        
      <link rel="stylesheet" href="static/style1.css">
    </head>
 
    <body>
        <div class="banner-area">
        <header>
            <a href="#" class="logo">Finding a Safe Area</a>
            
            <ul class="menu">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
							<li><a href="{{ url_for('chat') }}">Chat</a></li>
							<li><a href="{{ url_for('schedule') }}">Schedule</a></li>
            </ul>
            </header>
            </header>
              <div class="banner-text">
            <h2>About us</h2>
                <p>Richard Ho:<a href="https://github.com/richardho200">Github</a> and <a href="https://www.linkedin.com/in/richard-h-62574018b/">LinkedIn</a> </p>
                <p>Macarthur Inbody: <a href="https://transcendental.us">Github</a> </p>
								<p>Mohammaed Omane:<a href="https://github.com/omane101">Github</a> </p>
                  <p></p>
            </div>
        </div>
    </body>
</html>
