<!--Name:Richard Ho
Date: 7/10/20
-->
<! doctype html>
 <html lang="en">
    <head>
       <meta charset="utf-8">
        <title>Detail</title>
        
      <link rel="stylesheet" href="static/style1.css">
    </head>
 
    <body>
        <div class="banner-area">
        <header>
            <a href="#" class="logo">Finding a Safe Area</a>
            
            <ul class="menu">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
							<li><a href="{{ url_for('schedule') }}">Schedule A Meeting</a></li>
							<li><a href="{{ url_for('chat') }}">Chat </a></li>
            </ul>
            </header>
              <div class="banner-text">
            <h2>About this Project</h2>
                <p></p>
              
            </div>
        </div>
    </body>
</html>
