{% extends "layout.html" %}
{% block body %}

		<div id="submission">
		{% if data %}
				<form method="POST" action="/schedule">
					<div class="form-row">
						<div class="form-group col-md-6">
							<lable for="event_title">Event Title:</lable>
							<input type="text" id="event_title" name="event_title" value="{{ data.event_title }}">
						</div>
						<div class="form-group col-md-6">
							<label for="event_location">Location</label>
							<input type="text" id="event_location" name="event_location" value="{{ data.event_location }}">
						</div>
					</div>
					<div class="form-row">
							<div class="input-group flex-nowrap col-4">
								<div class="input-group-prepend">
									<span class="input-group-text" id="addon-wrapping">Start</span>
								</div>
								<input type="text" class="form-control datepicker" aria-label="start_date" aria-describedby="addon-wrapping" name="start_date" value="{{ data.event_start }}">
							</div>
							<div class="input-group bootstrap-timepicker timepicker col-md-4">
									<input id="event_timer" type="text" class="form-control input-small" value="{{ data.event_time }}">
							</div>
					</div>
					<div class="form-row pt-4">
						<div class="input-group flex-nowrap col-4">
							<div class="input-group-prepend">
								<span class="input-group-text" id="password-prepend">Password</span>
							</div>
								<input type="text" class="form-control" id="password" name="password" aria-describedby="password-prepend" value="{{ data.password }}">
						</div>
						<div class="input-group flex-nowrap col-4">
							<button type="submit" class="btn btn-primary">Submit form</button>
						</div>
					</div>
				</form>
			{% else %}
				<form method="POST" class="form_item" action="/schedule">
					<div class="form-row">
						<div class="form-group col-md-6">
							<lable for="event_title">Event Title:</lable>
							<input type="text" id="event_title" name="event_title" value="" />
						</div>
						<div class="form-group col-md-6">
							<label for="event_location">Location</label>
							<input type="text" id="event_location" name="event_location" value="" />
						</div>
					</div>
					<div class="form-row">
							<div class="input-group flex-nowrap col-4">
								<div class="input-group-prepend">
									<span class="input-group-text" id="addon-wrapping">Start</span>
								</div>
								<input type="text" class="form-control datepicker" aria-label="start_date" aria-describedby="addon-wrapping">
							</div>
							<div class="input-group bootstrap-timepicker timepicker col-md-4">
									<input id="event_timer" type="text" class="form-control input-small" name="event_time" />
							</div>
					</div>
					<div class="form-row pt-4">
						<div class="input-group flex-nowrap col-4">
							<div class="input-group-prepend">
								<span class="input-group-text" id="password-prepend">Password</span>
							</div>
								<input type="text" class="form-control" id="password" name="password" aria-describedby="password-prepend" />
								<input type="text" id="user_tz" name="user_tz" hidden="true" />
						</div>
						<div class="input-group flex-nowrap col-4">
							<button type="button" class="btn btn-primary">Submit form</button>
						</div>
					</div>
				</form>
		{% endif %}
		</div>
{% endblock %}